PORT=3000
DATABASE_URL="file:./dev.db"

# JWT
ACCESS_TOKEN_SECRET="your_access_token_secret"
ACCESS_TOKEN_EXPIRES_IN=900
REFRESH_TOKEN_SECRET="your_refresh_token_secret"
REFRESH_TOKEN_EXPIRES_IN=604800
RESET_PASSWORD_TOKEN="your_reset_password_token_secret"
RESET_PASSWORD_TOKEN_EXPIRES_IN=900

# Frontend
FE_URL="http://localhost:3000"

# Google SMTP
GOOGLE_SMTP_USER="your_gmail@gmail.com"
GOOGLE_SMTP_PASS="your_app_password"