# ===================== BACKEND =====================
FE_URL="http://localhost:5173" # cái này để dùng cho verify origin & callback url cho mail ...
COOKIE_DOMAIN="" # local accept * origin cors nên k cần 

PORT=3000
ACCESS_TOKEN_SECRET="ACCESS_TOKEN_SECRET"
ACCESS_TOKEN_EXPIRES_IN=900 # 15m 
REFRESH_TOKEN_SECRET="REFRESH_TOKEN_SECRET"
REFRESH_TOKEN_EXPIRES_IN=604800 # 7d
RESET_PASSWORD_TOKEN_SECRET="RESET_PASSWORD_TOKEN_SECRET"
RESET_PASSWORD_TOKEN_EXPIRES_IN=900 # 15m 

# SMTP - GG
GOOGLE_SMTP_USER="GOOGLE_SMTP_USER"
GOOGLE_SMTP_PASS="GOOGLE_SMTP_PASS"

# Firebase
FIREBASE_PROJECT_ID="FIREBASE_PROJECT_ID"
FIREBASE_CLIENT_EMAIL="FIREBASE_CLIENT_EMAIL"
FIREBASE_PRIVATE_KEY="FIREBASE_PRIVATE_KEY"
FIREBASE_STORAGE_BUCKET="FIREBASE_STORAGE_BUCKET"

# Cloudinary
CLOUDINARY_CLOUD_NAME="CLOUDINARY_CLOUD_NAME"
CLOUDINARY_API_KEY="CLOUDINARY_API_KEY"
CLOUDINARY_API_SECRET="CLOUDINARY_API_SECRET"

# PostgreSQL Credentials (Dùng cho local/docker)
DATABASE_URL="postgresql://postgres:mysecretpassword@localhost:5432/ecommerce?schema=public" # local PostgreSQL
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="mysecretpassword"
POSTGRES_DB="ecommerce"

# Redis
# REDIS_HOST=redis 
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD="REDIS_PASSWORD"

# Meilisearch
# Local non-docker: http://localhost:7700
# Docker compose backend: http://meilisearch:7700
MEILISEARCH_HOST="http://localhost:7700"
MEILISEARCH_API_KEY="MEILISEARCH_API_KEY"
MEILI_MASTER_KEY="MEILI_MASTER_KEY"